.logo {
    width: 80%;
    min-width: 250px;
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.user-buttons-input {
    width: 30%;
    height: 20%;
    border-radius: 5px;
    min-width: 80px; 
    min-height: 30px;
    text-align: center;
    font-size: x-small;
}