<div class="grid-vertical">
   <div class="stack">
      <img class="logo" src="../../assets/images/logo-transparent.png" alt="logo"/>
   </div>
   <div class="stack" style="width: 30%">
      <button mat-raised-button color="primary" class="user-buttons-input" (click)="createRoom()">Create Room</button>
      <input class="user-buttons-input" type="text" (keyup)="onChange($event)" value={{room.id}} placeholder="Room ID: ABCD" maxlength="4">
      <button mat-raised-button color="primary" class="user-buttons-input" [disabled]="room.join_disabled" (click)="joinRoom()">Join Room</button>
   </div>
</div>