 div {
    color: white;
    margin-top: auto;
}

.table {
    position: relative;
    border: 1px solid white;
    background-color: rgb(2, 101, 39);
    text-align: center;
    width: 50vw;
    height: 50vh;
    min-height: 200px;
    min-width: 300px;
}

.cards {
    display: flex; justify-content: center; flex-wrap:wrap
}

.game_info {
    text-align: center;
    font-size: xx-small;
} 

.player1 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -75%);
}

.player2 {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(10%, -50%);
}

.player3 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -25%);
}

.player4 {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}